/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:300&display=swap&subset=chinese-hongkong');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

/* ------------------------ Start Navigation Bar ------------------------- */

.nav {
    position: fixed;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav a {
    font-size: 45px;
    font-family: 'Sacramento', cursive;
  }

  a { text-decoration: none; color: white; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }

@keyframes neon-flicker-nav {

    35% { color:#333; }
    40%{ color: rgba(125, 251, 177, 0.906); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
}

.neon-nav {
    position: relative;
    top: 20%;
    width: 10%;
    margin: 0;
    padding: 0 20px;
    color: rgba(125, 251, 177, 0.906);
    text-shadow: 0 0 20px #277526;
    animation: neon-flicker-nav linear infinite 9s;
}

@keyframes neon-flicker-nav-span {

    40%{ color: rgba(125, 251, 177, 0.906); }
    45% { color: #333;
        text-shadow: inherit; }
    80% { text-shadow: none; }
    81% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(125, 251, 177, 0.906);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
}

.neon-nav-span {
    position: relative;
    top: 20%;
    width: 10%;
    margin: 0;
    /* padding: 0 20px; */
    color: rgba(125, 251, 177, 0.906);
    text-shadow: 0 0 20px #277526;
    animation: neon-flicker-nav-span linear infinite 10s;
}
    
.neon-nav:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #43D666;
    filter: blue(15px);
}
    
.neon-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #277526;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

/* ########################### End Navigation Bar ########################### */

/* ------------------------ Start Index Page ------------------------- */

@keyframes neon-flicker-welcome {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

/* Backgrounds */

body {
    margin: 0;
    padding: 0;
    background: url(./images/bg.jpeg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.neon-welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 25px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 10px #0BDBF1;
    animation: neon-flicker-welcome linear infinite 2s;
}

/* ########################### End Welcome English Page ########################### */

/* ------------------------ Start Weclome Chinese Page ------------------------- */

.neon-welcome-ch {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    text-shadow: 0 0 10px #DB062F;
    animation: neon-flicker-welcome-ch linear infinite 2.3s;
}

@keyframes neon-flicker-welcome-ch {

35% { color:#333;
    opacity: 0.5; }
40% { color: rgba(255, 134, 158, 0.349); }
45% { color: #333;
    text-shadow: inherit; }
78% { color: rgba(255, 134, 158, 0.349);
    text-shadow: inherit; }
79%{ color: #333; }
80% { text-shadow: none; }
81% { color:#DB062F;
    text-shadow: inherit; }
82% { color: #333;
    text-shadow: none; }
83% { color: #DB062F;
    text-shadow: inherit; }
92% { color: #333;
    text-shadow: none; }
92.5% { color: rgba(221, 11, 53, 0.808);
    text-shadow: inherit; }
}

.neon-welcome:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-welcome-ch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #DB062F;
    filter: red(15px);
}

.neon-welcome:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

.neon-welcome-ch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(221, 11, 53, 0.808);
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

/* ########################### End Welcome Chinese Page ########################### */

/* -------------------------- Start About Page --------------------------- */

@keyframes neon-flicker-about {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

.neon-about {
    position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 20px #0BDBF1;
    animation: neon-flicker-about linear infinite 2s;
}

.neon-about:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

#about p {
    margin-top: 22%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 55px;
    color: white;
    opacity: 0.7;
}

.about {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 10%;
}

/* ########################### End About Page ########################### */

/* -------------------------- Start Resume Page ------------------------- */

@keyframes neon-flicker-resume {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

.neon-resume {
    position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 20px #0BDBF1;
    animation: neon-flicker-resume linear infinite 2s;
}

.neon-resume:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-resume:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

#resume p {
    margin-top: 22%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 55px;
    color: white;
    opacity: 0.7;
}

.resume {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 10%;
}

/* ---------------------------- Start Resume Page ----------------------------- */

@keyframes neon-flicker-view-resume {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

.neon-view-resume {
    position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 20px #0BDBF1;
    animation: neon-flicker-about linear infinite 2s;
}

.neon-view-resume:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-view-resume:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

.viewcv {
    position: fixed;
    top: 50%;
    right: 40%;
    /* width: 10%; */
}

/* ########################### End Resume Page ########################### */

/* ------------------------ Start Interests Page ------------------------- */

/* Slider Animation */

.slider-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 20px;
    margin-top: 25%;
}

@keyframes slide_animation {
    0% { left: 0; }
    10% { left: 0; }
    20% { left: 1200px; }
    30% { left: 1200px; }
    40% { left: 2400px; }
    50% { left: 2400px; }
    60% { left: 1200px; }
    70% { left: 1200px; }
    80% { left: 0px; }
    90% { left: 0px; }
    100% { left: 0px; }
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-container:nth-of-type(1) {
    background-image: url('images/Amsterdam.jpg');
}
.img-container:nth-of-type(2) {
    background-image: url('images/France.jpg');
}
.img-container:nth-of-type(3) {
    background-image: url('images/AmsterdamBW.jpg');
}
.img-container:nth-of-type(4) {
    background-image: url('images/Aalsmeer.jpg');
}
.img-container:nth-of-type(5) {
    background-image: url('images/Hongkong.jpg');
}
.img-container:nth-of-type(6) {
    background-image: url('images/Porto.jp.jpg');
}
.img-container:nth-of-type(7) {
    background-image: url('images/France2.jpg');
}
.img-container:nth-of-type(8) {
    background-image: url('images/Jarnac.jpg');
}
.img-container:nth-of-type(9) {
    background-image: url('images/LesFrasers.jpg');
}

/* End of slider animation */

#slider figure {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

@keyframes neon-flicker-interests {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

.neon-interests {
    position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 20px #0BDBF1;
    animation: neon-flicker-interests linear infinite 2s;
}

.neon-interests:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-interests:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

#interests p {
    margin-top: 22%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 55px;
    color: white;
    opacity: 0.7;
}

.interests {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 10%;
}

/* ########################### End Interests Page ########################### */

/* ---------------------------- Start Blog Page ----------------------------- */

@keyframes neon-flicker-blog {

    35% { color:#333; }
    40%{ color: rgba(184, 248, 255, 0.94); }
    45% { color: #333; text-shadow: inherit; }      
    78% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    79%{ color: #333; }
    80% { text-shadow: none; }
    81% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    82% { color: #333;
        text-shadow: none; }
    83% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    92% { color: #333;
        text-shadow: none; }
    92.5% { color: rgba(184, 248, 255, 0.94);
        text-shadow: inherit; }
    }

.neon-blog {
    position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(184, 248, 255, 0.94);
    text-shadow: 0 0 20px #0BDBF1;
    animation: neon-flicker-blog linear infinite 2s;
}

.neon-blog:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-blog:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

@keyframes neon-flicker-blog-border {

    35% { border-color:#333; }
    40%{ border-color: rgba(184, 248, 255, 0.94); }
    45% { border-color: #333;
        box-shadow: inherit; }      
    78% { border-color: rgba(184, 248, 255, 0.94);
        box-shadow: inherit; }
    79%{ border-color: #333; }
    80% { box-shadow: none; }
    81% { border-color: rgba(184, 248, 255, 0.94);
        box-shadow: inherit; }
    82% { border-color: #333;
        box-shadow: none; }
    83% { border-color: rgba(184, 248, 255, 0.94);
        box-shadow: inherit; }
    92% { border-color: #333;
        box-shadow: none; }
    92.5% { border-color: rgba(184, 248, 255, 0.94);
        box-shadow: inherit; }
    }

.neon-flicker-blog-border {
    /* position: relative;
    top: 20%;
    right: 10%;
    width: 10%;
    transform: translate(-50%,-50%); */
    margin: 20px;
    padding: 20px;
    border-color: rgba(184, 248, 255, 0.94);
    box-shadow: 20px 20px 20px 20px #0BDBF1;
    animation: neon-flicker-blog-border linear infinite 2s;
}

.neon-flicker-blog-border:after {
    content: attr(border);
    /* position: absolute;
    top: 0;
    left: 0; */
    padding: 20px 20px 20px 20px;
    z-index: -1;
    color: #0BDBF1;
    filter: blue(15px);
}

.neon-flicker-blog-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0681E9;
    z-index: -2;
    opacity: 1;
    filter: blur(40px);
}

.blog-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
    opacity: 0.7
}

.blog-1 {
    background: url(./images/china_town.jpg) no-repeat center center;
    background-size: 100%;
}

.blog-2 {
    background: url(./images/neon_head.jpg) no-repeat center center;
    background-size: 100%;
}

.blog-3 {
    background: url(./images/alley.jpg) no-repeat center center;
    background-size: 100%;
}

.blog-4 {
    background: url(./images/ktv.jpg) no-repeat center center;
    background-size: 100%;
}

.blog-5 {
    background: url(./images/highway.jpg) no-repeat center center;
    background-size: 100%;
}

.blog-styling {
    display: grid;
    grid-template-columns: 5% 15% 5% 10% 52.5% 7.5% 7.5% 2.5%;
    grid-template-rows: 10% 15% 7.5% 35% 7.5% 15% 10%;
    border-style: solid;
    border-width: 3px;
    margin-block-end: 70px;
    border-color: white;
    animation: neon-flicker-blog-border linear infinite 5s;
}

.blog-date {
    grid-column: 6 / 8;
    grid-row: 1 / 2;
}

.blog-title {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.blog-para {
    grid-column: 3 / 7;
    grid-row: 4 / 5; 
}

.blog-author {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.blog {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 10%;
}

/* ########################### End Blog Page ########################### */

/* -------------------- Breakpoints based on content ---------------------- */

/* Animation full text: */
    /* animation-name: colorful-text;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none; */
